
 {% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{%block styles%}
{{ super() }}
{%endblock%}

{% block content %}
<div class="container">
    <!-- Section: Features v.4 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Why is it so great?</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">A pitch is a presentation an idea to potential investors. People pitch a business because they need resources. If the goal is to raise startup cash, the target of the pitch is an investor. Other businesses pitch to potential customers to sell their product. Finally, some organizations pitch because they need a partner or resource to help them accomplish their mission.
  	This is great even far much great when you can meet more than ten investors via your online pitch, and who knows whether lack is always on your side?
</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-flag-checkered deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">International</h5>
          <p class="grey-text">Internet is one of the best ways to reach international grounds at a sitting, why not pitch to that investor in   that foreign country where you have no capacity as it is to go to?.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-flask deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Experimental</h5>
          <p class="grey-text">You manage your database, you manage what you are doing, you don't have to worry at all about anything, you just need tomsit down, in secret and comfort, experiment and the  publish a polished qulity work! What are ypu waiting for, Go ahead and experiment!.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-md-0 mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-glass-martini deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Relaxing</h5>
          <p class="grey-text mb-md-0">No sweatin, no social phorbia, no tension, you just need closed dark room, a desk, and your internet device. Pitch! Isn't this not only comforting but also relaxing?.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 text-center">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png"
        alt="Sample image">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="far fa-2x fa-heart deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Beloved</h5>
          <p class="grey-text">With the rise of online jobs abd remote communications, using internet davices, people have become much adicted to their hanset or whatever internet devices they are using to the extent that they hardly miss this important information.Isn't this lovely?.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-bolt deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Rapid</h5>
          <p class="grey-text">For lack of a beter succinct word, I'd love to ask you what the speed of light is, this is what this is like, just on a click of submit, a sea of humanity is invited to be your audience!.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-magic deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Magical</h5>
          <p class="grey-text mb-0">Online pitching of ideas is magical, you can't imagine what platform you are at, thta aside, you can even tell what persons are paying audience to you. Why would you even worry, you lay the idea without sweating and wait, that is all!.

		</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.4 -->
</div>

{% endblock %}